/all_text_he.jsonl
/all_text_he.txt
/ref_he_test.spacy
/ref_he_train.spacy
/all_text_en.jsonl
/all_text_en.txt
/ref_subref_he_test.spacy
/ref_subref_he_train.spacy
/aggregated_ner_train_en.json
/aggregated_ner_train_he.json
/ner_mentions.json
/people_en_test.spacy
/people_en_train.spacy
/people_he_test.spacy
/people_he_train.spacy
